h3
{
  font-size: 25px !important;
}
canvas {
  border:2px dashed black;
}
body{
	background-image: url("https://thumbs.dreamstime.com/b/seamless-pattern-color-mustache-textiles-interior-design-book-design-website-background-35728517.jpg");
}